{% extends 'core/base.html' %} {% block title %}Fation Store{% endblock %} {% load static %} {% block content %}
<section class="content" style="margin-top: 100px;">
    <div class="row mt-4 position-relative">
        <div class="col col-md-3 col-lg-3 d-none d-sm-block position-fixed" style="top: 100px; z-index: 0">
            <button class="navbar-toggler text-center bg-white w-100 rounded-2 mb-2 border border-1" id="collapse-btn">
                <i class="bx bxs-chevrons-left h4 m-0"></i>
            </button>
            <ul class="nav flex-column bg-white h-100 rounded-2 shadow-sm border border-1" id="navbar" style="min-height: 500px">
                <li class="nav-item mb-1">
                    <a 
                        class="nav-link text-dark menu-title {% if not active_category %} active {% endif %}"
                        aria-current="page"
                        href="/"
                    >
                        <i class="bx bxs-store icon"></i>
                        <span class="title ms-3">Home</span>
                    </a>
                </li>
                {% for category in categories %}
                <li class="nav-item mb-1">
                    <a 
                        class="nav-link text-dark menu-title {% if category.slug == active_category %} active {% endif %}"
                        href="/?category={{ category.slug }}"
                    >
                        <i class="bx {{category.icon}} icon"></i>
                        <span class="title ms-3">{{category.name}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-12 col-sm-9 col-lg-9 content end-0 offset-md-3">
            {% if not active_category %}
                <div id="carouselExampleControlsNoTouching" class="carousel slide overflow-hidden" data-bs-touch="false">
                    <div class="carousel-inner rounded-3">
                        <div class="carousel-item active">
                            <img src="{% static 'assets/banner2.jpg' %}" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'assets/banner3.jpg' %}" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'assets/banner4.jpg' %}" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev prev"
                        type="button"
                        data-bs-target="#carouselExampleControlsNoTouching"
                        data-bs-slide="prev"
                    >
                        <span aria-hidden="true"><i class="bx bx-chevron-left"></i></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next next"
                        type="button"
                        data-bs-target="#carouselExampleControlsNoTouching"
                        data-bs-slide="next"
                    >
                        <span aria-hidden="true"><i class="bx bx-chevron-right"></i></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="row mt-3">
                    <div class="col col-12 col-md-4 d-flex justify-content-center align-items-center flex-grow-1">
                        <i class="bx bx-car h1 text-primary"></i>
                        <h3 class="ms-2">Free Shipping</h3>
                    </div>
                    <div class="col col-12 col-md-4 d-flex justify-content-center align-items-center flex-grow-1">
                        <i class="bx bx-coin-stack h1 text-primary"></i>
                        <h3 class="ms-2">Money Back 100%</h3>
                    </div>
                    <div class="col col-12 col-md-4 d-flex justify-content-center align-items-center flex-grow-1">
                        <i class="bx bx-support h1 text-primary"></i>
                        <h3 class="ms-2">Support 24/7</h3>
                    </div>
                </div>

                <div class="my-5">
                    <h1 class="content-title h1"><i class="bx bxs-hot icon me-2"></i>Hot</h1>

                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-outline-dark w-auto show-prev">
                            <i class="bx bx-chevron-left"></i>
                        </button>
                        <button class="btn btn-outline-dark w-auto show-next ms-2">
                            <i class="bx bx-chevron-right"></i>
                        </button>
                    </div>

                    <div class="row d-flex flex-nowrap overflow-hidden mt-2" id="slide-show">
                        {% for product in products %}
                            <div class="col col-6 col-md-4 -lg-3 slide-item">
                                <a href="{% url 'product' product.id %}"class="card mb-3">
                                    <img src="/{{product.image}}" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <div class="d-flex justify-content-between align-items-center py-2">
                                            <div
                                                class="btn btn-primary link-light float-start badge rounded-pill"
                                                hx-get="{% url 'add_to_cart' product.id %}"
                                                hx-target="#menu-cart-button"
                                                hx-swap="outerHTML"
                                            >
                                                <i class="bx bx-cart-alt"></i>
                                            </div>
                                            <div>
                                                {% if product.old_price > 0 %}
                                                    <small class="text-muted text-decoration-line-through me-2">
                                                        {{product.old_price}}VND
                                                    </small>
                                                {% endif %}
                                                <span class="card-text align-middle h6">
                                                    {{product.price}}VND
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="products">
                {% if not active_category %}
                <h1 class="content-title h1">Tất cả sản phẩm</h1>
                {% endif %}
                {% for category in categories %}
                    {% if category.slug == active_category %}
                        <h1 class="content-title h1">{{category.name}}</h1>
                    {% endif %}
                {% endfor %}

                <div class="row mt-5">
                    {% for product in products %}
                        {% include 'product/product_list_item.html' %}
                    {% endfor %}
                </div>
                <button class="btn btn-primary w-25 mt-2" id="see-more">See more</button>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    const collapse = document.querySelector('.navbar-toggler');
    const navItem = document.querySelectorAll('.nav-link.text-dark.menu-title');
    const content = document.querySelector('.content .row.mt-4').children;

    collapse.addEventListener('click', () => {
        navItem.forEach((item) => {
            collapse.innerHTML = `<i class='bx bxs-chevrons-right h4 m-0'></i>`;
            item.lastElementChild.classList.toggle('d-none');
            item.classList.toggle('justify-content-center');
        });
        content[0].classList.toggle('col-xl-1');
        content[1].classList.toggle('col-xl-11');
        content[1].classList.toggle('offset-md-3');
        content[1].classList.toggle('offset-md-1');

    });

    navItem.forEach((itemLink) => {
        console.log(itemLink.classList.contains('active'));
        itemLink.addEventListener('click', () => {
            document.querySelector('.nav-link.text-dark.menu-title.active').classList.remove('active');
    
            itemLink.classList.add('active');
        });
    });

    const slideShow = document.querySelector('#slide-show');
    const btnPrev = document.querySelector('.show-prev');
    const btnNext = document.querySelector('.show-next');
    const favorites = document.querySelectorAll('.favorite');

    btnNext.addEventListener('click', () => {
        let cards = document.querySelectorAll('.slide-item');
        slideShow.appendChild(cards[0]);
    });

    btnPrev.addEventListener('click', () => {
        let cards = document.querySelectorAll('.slide-item');
        slideShow.prepend(cards[cards.length - 1]);
    });

    favorites.forEach((item) => {
        item.addEventListener('click', () => {
            item.classList.toggle = 'primary';
        });
    });
</script>
{% endblock %}

