<div class="col col-12 col-md-6 col-lg-4 position-relative mb-4 prod-item">
    {% if product.sale%}
    <div class="position-absolute sale px-2 bg-danger text-light rounded-pill" style="top: 5px; left: 15px; z-index: 1">
        Sale
    </div>
    {% endif %}
    <div class="position-absolute h5 favorite">
        <i class="bx bxs-heart icon"></i>
    </div>
    <div class="card">
        <a href="{% url 'product' product.id %}">
            <img src="{{product.image}}" class="card-img-top rounded-bottom" alt="..." />
        </a>
        <div class="card-body">
            <h6 class="card-title mb-3">{{product.name}}</h6>
            <div class="clearfix">
                {% if user.username %}
                    <a
                        class="btn btn-primary link-light float-start badge rounded-pill"
                        hx-get="{% url 'add_to_cart' product.id %}"
                        hx-target="#menu-cart-button"
                        hx-swap="outerHTML"
                    >
                        <i class="bx bx-cart-alt"></i>
                    </a>
                {% else %}
                    <a
                        class="btn btn-primary link-light float-start badge rounded-pill"
                        href="{% url 'login' %}"
                        hx-target="#menu-cart-button"
                        hx-swap="outerHTML"
                    >
                        <i class="bx bx-cart-alt"></i>
                    </a>
                {% endif %}

                <div class="float-end">
                    {% if product.old_price > 0%}
                    <small class="price-hp text-decoration-line-through">{{product.old_price}} VND</small>
                    {% endif %}
                    <span class="price-hp h6">{{product.get_display_price}} VND</span>
                </div>
            </div>
        </div>
    </div>
</div>
